<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document - SpotRank</title>
    <link href="../styles/output.css" rel="stylesheet">
    <link rel="icon" href="../assets/Spotify-Icon.png" type="image/x-icon">
    
</head>
<body class="bg-gradient-to-b from-green-900 from-% to-neutral-900 to-50% mx-auto min-h-screen font-sans">
    <header class="text-white bg-zinc-800 h-80 flex items-center p-6 shadow-lg shadow-zinc-900">
        <span class="cursor-pointer mb-auto mr-auto text-gray-500 font-extrabold transition delay-50 hover:bg-green-600 hover:text-white hover:scale-105 py-1 px-3 rounded-3xl">voltar</span>
        <img src="../assets/Spotify-Icon.png" alt="" class="size-64 mr-5">
        <div class="flex flex-col mr-auto mb-auto">
            <span class="text-8xl font-extrabold mt-7">Ed Sheeran</span>
            <div class="ml-1 text-lg font-bold">
                <span class="text-green-500">123.243.545</span>
                <span>Seguidores</span>
            </div>
            <div class="ml-1 text-lg font-bold">
                <span>Gêneros: </span>
                <span>Pop, teste, country</span>
            </div>
        </div>
    </header>
    <article>
        albuns
        musicas
    </article>

    <script type="module" src="../redirect.js"></script>
    <script type="module" src="../artistaspage.js"></script>
</body>
</html>