<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../styles/output.css" rel="stylesheet">
</head>
<body class="bg-slate-600">
    <div class="bg-black p-6 justify-between flex flex-row text-white font-sans">
        <div class="flex flex-row space-x-1.5 items-center ml-96">
            <img class="size-9" src="../assets/spotify-128.ico" alt="logo SpotRank">
            <h2 class="text-xl font-bold">SpotRank</h2>
        </div>
        <div class="mr-96 flex flex-row space-x-9 items-center font-bold text-base">
            <p>Github</p>
            <p>Linkedin</p>
            <p>ReadMe</p>
            <p class="border-separate font-normal">|</p>

        </div>
    </div>
</body>
</html>