<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - SpotRank</title>
    <link rel="icon" href="../assets/Spotify-Icone-50px.png" type="image/x-icon">
    <link href="../styles/output.css" rel="stylesheet">
</head>
<body class="bg-zinc-900 overflow-x-hidden">

    <div class="bg-black p-6 mx-auto flex flex-row justify-between text-white font-sans shadow-2xl">
        <div class="xl:ml-40 md:ml-10 flex flex-row space-x-1.5 items-center">
            <img class="size-11" src="../assets/Spotify-Icone-50px.png" alt="logo SpotRank">
            <h2 class="text-xl font-bold">SpotRank</h2>
        </div>
    
        <nav class="relative">
            <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
                <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                    </svg>
                </button>
                <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                    <ul class="font-bold flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0">
                        <li>
                            <a href="https://linkedin.com/in/guilhermemiranda12/" target="_blank">
                                <p class="transition delay-50 hover:bg-green-600 hover:scale-105 py-1 px-3 rounded-3xl">GitHub</p>
                            </a>
                        </li>
                        <li>
                            <a href="https://linkedin.com/in/guilhermemiranda12/" target="_blank">
                                <p class="transition delay-50 hover:bg-green-600 hover:scale-105 py-1 px-3 rounded-3xl">Linkedin</p>
                            </a>
                        </li>
                        <li>
                            <a href="https://linkedin.com/in/guilhermemiranda12/" target="_blank">
                                <p class="transition delay-50 hover:bg-green-600 hover:scale-105 py-1 px-3 rounded-3xl">ReadMe</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="text-white justify-start min-h-screen mx-auto flex flex-col my-20 xl:flex-row xl:justify-around">
        <div class="text-center">
            <h1 class="font-extrabold text-5xl mx-2">Mais <span class="text-green-500">seguidos</span> do Spotify</h1>
            <ul class="bg-zinc-800 p-5 m-10 rounded-lg text-3xl font-semibold space-y-2"  id="liArtist">
            </ul>
        </div>
        <div class="text-center mt-7 xl:mt-0">
            <h1 class="font-extrabold text-5xl mx-2"><span class="text-green-500">Gêneros</span> mais tocados</h1>
            <ul class="bg-zinc-800 p-5 m-10 rounded-lg text-3xl font-semibold space-y-2">
                <li class="flex space-x-3 hover:bg-green-600 px-2 py-1 rounded-lg items-center">
                    <span>1</span>
                    <img class="size-8" src="../assets/Spotify-Icone-50px.png" alt="Perfil">
                    <span>Teste</span>
                </li>
                <li class="flex space-x-3 hover:bg-green-600 px-2 py-1 rounded-lg items-center">
                    <span>2</span>
                    <img class="size-8" src="../assets/Spotify-Icone-50px.png" alt="Perfil">
                    <span>Teste</span>
                </li>
                <li class="flex space-x-3 hover:bg-green-600 px-2 py-1 rounded-lg items-center">
                    <span>3</span>
                    <img class="size-8" src="../assets/Spotify-Icone-50px.png" alt="Perfil">
                    <span>Teste</span>
                </li>
            </ul>
        </div>

        <script type="module" src="../menu.js"></script>
        <script type="module" src="../rankartistas.js"></script>
</body>
</html>