<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - SpotRank</title>
    <link rel="icon" href="../assets/spotify-128.ico" type="image/x-icon">
    <link href="../styles/output.css" rel="stylesheet">
</head>
<body class="bg-zinc-900 h-screen">

    <div class="bg-black p-6 justify-between flex flex-row text-white font-sans shadow-2xl">

        <div class="flex flex-row space-x-1.5 items-center ml-96">
            <img class="size-9" src="../assets/spotify-128.ico" alt="logo SpotRank">
            <h2 class="text-xl font-bold">SpotRank</h2>
        </div>

        <div class="mr-96 flex flex-row space-x-9 items-center font-bold text-base">
            <a href="https://github.com/Guicod3" target="_blank">
                <p class="transition delay-50 hover:bg-green-600 hover:scale-105 py-1 px-3 rounded-3xl">Github</p>
            </a>
            <a href="https://linkedin.com/in/guilhermemiranda12/" target="_blank">
                <p class="transition delay-50 hover:bg-green-600 hover:scale-105 py-1 px-3 rounded-3xl">Linkedin</p>
            </a>
            <a href="https://github.com/Guicod3/Artists-Rank-Spotify/blob/main/README.md" target="_blank">
                <p class="transition delay-50 hover:bg-green-600 hover:scale-105 py-1 px-3 rounded-3xl">ReadMe</p>
            </a>
        </div>

    </div>
    <div class="text-white columns-2 flex items-center justify-around min-h-screen">
        <div class="text-center">
            <h1 class="font-extrabold text-5xl">Mais seguidos do Spotify</h1>
            <ul class="bg-zinc-800 p-5 m-20 rounded-lg text-3xl font-semibold space-y-2 ">
                <li class="flex space-x-3 transition delay-50 hover:bg-green-600 px-2 py-1 rounded-lg items-center hover:-translate-y-1 hover:scale-110">
                    <span>1</span>
                    <img class="size-8" src="../assets/spotify-128.ico" alt="Perfil">
                    <span>Teste</span>
                </li>
                <li class="flex space-x-3 transition delay-50 hover:bg-green-600 px-2 py-1 rounded-lg items-center hover:-translate-y-1 hover:scale-110">
                    <span>2</span>
                    <img class="size-8" src="../assets/spotify-128.ico" alt="Perfil">
                    <span>Teste</span>
                </li>
                <li class="flex space-x-3 transition delay-50 hover:bg-green-600 px-2 py-1 rounded-lg items-center hover:-translate-y-1 hover:scale-110">
                    <span>3</span>
                    <img class="size-8" src="../assets/spotify-128.ico" alt="Perfil">
                    <span>Teste</span>
                </li>
            </ul>
        </div>
        <div class="text-center">
            <h1 class="font-extrabold text-5xl">Gêneros mais tocados</h1>
            <ul class="bg-zinc-800 p-5 m-20 rounded-lg text-3xl font-semibold space-y-2">
                <li class="flex space-x-3 hover:bg-green-600 px-2 py-1 rounded-lg items-center">
                    <span>1</span>
                    <img class="size-8" src="../assets/spotify-128.ico" alt="Perfil">
                    <span>Teste</span>
                </li>
                <li class="flex space-x-3 hover:bg-green-600 px-2 py-1 rounded-lg items-center">
                    <span>2</span>
                    <img class="size-8" src="../assets/spotify-128.ico" alt="Perfil">
                    <span>Teste</span>
                </li>
                <li class="flex space-x-3 hover:bg-green-600 px-2 py-1 rounded-lg items-center">
                    <span>3</span>
                    <img class="size-8" src="../assets/spotify-128.ico" alt="Perfil">
                    <span>Teste</span>
                </li>
            </ul>
        </div>
</body>
</html>